* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-size: 1.4rem;
}

.container {
  width: 80vw;
  max-width: 1152px;
  height: 60vh;
  max-height: 1000px;
  background: white;
  margin: 0 2.5rem;
  padding: 4rem 2.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 3rem;
}

.container .card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: -15rem;
}

.container .card-header img:nth-child(2) {
  margin: -9rem 0 0 2.8rem;
}

.container .image-desktop img {
  width: 100%;
  display: none;
}

.container .card-content {
  width: 100%;
  max-width: 1440px;
}

.container .card-content h3 {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 3rem;
}

.container .card-content ul {
  list-style: none;
  margin-top: 3rem;

  display: flex;
  flex-direction: column;
}

.container .card-content ul li {
  display: flex;
  flex-direction: column;

  padding: 2rem 0;
  border-bottom: 0.1rem solid hsl(240, 5%, 91%);
}

.container .card-content ul li img {
  width: 1.1rem;
  height: 0.8rem;
}

.container .card-content ul li button {
  border: 0;
  background: transparent;

  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor:pointer;
  outline: none;
}

.container .card-content ul li p {
  color: hsl(240, 6%, 50%);
  width: 100%;
  opacity: 0;
  display: none;
  margin-top: 1rem;
}

.container .card-content ul li button h4 {
  font-size: 1.5rem;
  color: hsl(237, 12%, 33%);
}

.container .card-content h3,
.container .card-content ul li.open button h4 {
  color: hsl(238, 29%, 16%);
}

.container .card-content ul li.open p {
  display: block;
  opacity: 1;
}

@media screen and (min-width: 1440px) {

  .container {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 4rem 7rem 4rem 0;
    overflow: hidden;
  }

  .container .card-header {
    display: none;
    visibility: hidden;
  }

  .container .image-desktop {
    position: relative;
  }

  .container .image-desktop img:nth-child(1){
    display: block;
    width: 100%;
    height: 100%;
    margin-left: -5rem;
    z-index: 2;
  }

  .container .image-desktop img:nth-child(2) {
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    left: -15%;
    top: 40%;
    z-index: 3;
  }
  .container .image-desktop img:nth-child(3) {
    display: block;
    width: 200%;
    height: 200%;
    position: absolute;
    top: -50%;
    left: -80%;
    overflow: hidden;
    z-index: 1;
  }

  .container .card-content {
    max-width: 500px;
  }

  .container .card-content ul li button:hover h4 {
    color: hsl(14, 88%, 65%);
  }
}
