* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  font-size: 1.4rem;
}

.container {
  background: white;
  margin: 0 2.5rem;
  padding: 4rem 2.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 3rem;
}

.container .header-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: -15rem;
}

.container .header-card img:nth-child(2) {
  margin: -9rem 0 0 2.8rem;
}

.container .card-content h3 {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 3rem;
}

.container .card-content ul {
  list-style: none;
  margin-top: 3rem;
}

.container .card-content ul li {
  display: flex;
  flex-direction: column;

  padding: 1rem 0;
  border-bottom: 0.1rem solid hsl(240, 5%, 91%);
}

.container .card-content ul li img {
  width: 1.1rem;
  height: 0.8rem;
}

.container .card-content ul li button {
  border: 0;
  background: transparent;

  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor:pointer;
}

.container .card-content ul li p {
  color: hsl(240, 6%, 50%);
  display: none;
  visibility: hidden;
}

.container .card-content ul li button h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: hsl(237, 12%, 33%);
}

.container .card-content ul li.open button h4 {
  color: hsl(238, 29%, 16%);
}

.container .card-content ul li.open p {
  display: block;
  visibility: visible;
}
